//colors
$text-color: black;
$icons-color: white;
$button-hover: #d4c995;
$bg-color:rgba(194, 234, 246, .3);
$card-color:rgba(194, 234, 246, .5);

%nav-card-desing{
    background-color:$bg-color;
}

%button{
    width: 8vw;
    padding-top: 30px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease-out;
     z-index: 99;
    a{
        text-decoration: none;
        color: black;
        transition: all .5s ease-out;
    }
    &:hover{
        background-color: $button-hover;
        .sub_menu-first{
             display: block;
             @extend %sub-menu-first;
         }
    }
}

%sub-menu-first{
    position: absolute;
    width: 8vw;
    margin-top: 3.4vh;
    padding: 10px;
    background-color: $bg-color;
    cursor: pointer;

    ul{
        display: block;
        li{
            width: 98%;
            background-color:transparent;
            text-align: left;
            border-bottom: 1px solid #fff;

        }
    }

     a{
        text-decoration: none;
        color: black;
        transition: all .3s ease-in-out;
        &:hover{
            color: $button-hover;
        }
    }
    
}

%sub-menu-second{
    position: absolute;
    width: 8vw;
    margin-top: -50px;
    margin-left: 6.5vw;
    padding: 10px;
    cursor: pointer;

    ul{
        display: block;
        li{
            width: 98%;
            background-color:transparent;
            text-align: left;
            border-bottom: 1px solid #fff;
            transition: all .5s step-end;
        }
    }

     a{
        text-decoration: none;
        color: black;
        transition: all .5s ease-out;
        &:hover{
            color: $button-hover;
        }
    }
    
}

%section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 620px;
    margin-top: 30px;
    border-radius: 5px;
    
    background-color:$card-color;
    box-shadow: 0 0 10px rgba(0, 0,0 , .3);
}

%icons-media{
    display: flex;
    line-height: 45px;
    height: 45px;
    width:100% ;
    justify-content:baseline;
    padding-left: 20px;
    border-radius: 5px;
    transition: all .2s;

    a{
        text-decoration: none;
        color: white;
    }
    i{
        font-size: 1.5rem;
        margin-right: 20px;
    }
}